<h1>カレンダー</h1>
<h1><%= @date.year %>年<%= @date.month %>月</h1>

<div>
  <%= link_to "<<", "/back_month/#{@date.year}/#{@date.month}/#{@date.day}"%>
  <%= link_to ">>", "/next_month/#{@date.year}/#{@date.month}/#{@date.day}"%>
  <%= link_to "今日", "/today" %>
</div>

<table border="1">
  <!-- 曜日 -->
  <tr>
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
    <th>日</th>
  </tr>
  <!-- 日付 -->
  <%for i in 0..@calendar.length - 1%>
    <tr>
    <% for j in 0..@calendar[0].length - 1%>
      <% if @calendar[i][j] == 0 %>
        <td></td>
      <% else %>
        <td><%= link_to @calendar[i][j], "/day_schedule/#{@date.year}/#{@date.month}/#{@calendar[i][j]}"%></td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
</table>

<div>
  <h1><%= @date.day %>日</h1>
</div>

<!-- dbtest -->
<div>
  <%= button_to "ユーザ追加", {controller: 'calendar', action: 'add_user'} %>
  <%= button_to "アイコン追加", {controller: 'calendar', action: 'add_icon'} %>
  <%= button_to "スケジュール追加", {controller: 'calendar', action: 'add_schedule'} %>
  <%= button_to "全削除", {controller: 'calendar', action: 'delete_table_all'} %>
</div>

<%= @schedule_table.first.start_date.year %>
<%= @schedule_table.first.start_date.month %>
<%= @schedule_table.first.start_date.mday %>
<%= @schedule_table.first.start_date.hour %>
<%= @schedule_table.first.start_date.min %>

<div>
  ユーザテーブル
  <table border=1>
    <th>ID</th>
    <th>ユーザ名</th>
    <th>パスワード</th>
    <% @user_table.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.name %></td>
        <td><%= post.pass %></td>
      </tr>
    <% end %>
  </table>
</div>

<div>
  アイコンテーブル
  <table border=1>
    <th>ID</th>
    <th>アイコン名</th>
    <th>イメージパス</th>
    <th>色</th>
    <th>ユーザID</th>
    <% @icon_table.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.name %></td>
        <td><%= post.image_path %></td>
        <td><%= post.color %></td>
        <td><%= post.user_id %></td>
      </tr>
    <% end %>
  </table>
</div>

<div>
  スケジュールテーブル
  <table border=1>
    <th>ID</th>
    <th>開始日時</th>
    <th>終了日時</th>
    <th>ユーザID</th>
    <th>アイコンID</th>
    <% @schedule_table.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.start_date %></td>
        <td><%= post.finish_date %></td>
        <td><%= post.user_id %></td>
        <td><%= post.icon_id %></td>
      </tr>
    <% end %>
  </table>
</div>
