<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "TweetApp", "/" %>
    <a href="/about">TweetAppとは</a>
    <a href="/posts/index">Post</a>
    <a href="/posts/new">New</a>
    <a href="/users/index">Users</a>
    <a href="/users/signup">Signup</a>
    <a href="/login">Login</a>
    現在ログインしているユーザのid:
    <%= session[:user_id] %>
    <p>
      <% if flash[:notice] %>
      <%= flash[:notice] %>
      <% end %>
    </p>
    <!-- それぞれのhtmlが入る箇所 -->
    <%= yield %>
    <!-- それぞれのhtmlが入る箇所 -->
  </body>
</html>
